<div class="col-xs-12">    
    <h3>Task list</h3>        
    <hr>
</div>    
<div class="col-xs-12">
  <div *ngFor="let task of data">
      <div>
          <strong>Title:</strong>
          {{ task.title }}
        </div>
      <div>
          <strong>Content:</strong>
          {{ task.content }}
        </div>
      <div>
          <strong>Status:</strong>
          {{ task.status }}
        </div>      
      <a [routerLink]="['/task-update', task._id]">Detalhe</a>
      <hr>
  </div>
</div>