<div>
  <form #f="ngForm" (ngSubmit)="getAdd(f)" novalidate>
    <label>Title</label>
    <input name="title" ngModel type="text">
    <label>Content</label>
    <input name="content" ngModel type="text">
    <label>Status</label>
    <input name="status" checked="false" ngModel type="checkbox">
    <button>Add</button>
  </form>
  <hr>
  <div *ngFor="let task of data">
    {{ task.title }}
    {{ task.content }}
    {{ task.status }}
    <button (click)="delete(task._id)">Delete</button>
  </div>
</div>
