<div class="row">
  <div class="col-xs-12">
    <h3>Login</h3>
  </div>
</div>
<form #f="ngForm" (ngSubmit)="getSave(f)">
<div class="row">  
  <div class="col-xs-12">
    <label>Name</label>
    <input type="text" name="name" ngModel class="form-control">
    <label>Email</label>
    <input type="email" name="email" ngModel class="form-control">
    <label>Password</label>
    <input type="password" name="password" ngModel class="form-control">    
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button type="submit" class="btn btn-success">Save</button>    
  </div>
</div>
</form>

