<div class="col-xs-12">
    <h3>Create new task</h3>
    <hr>
</div>    
<div class="col-xs-12">
  <form #f="ngForm" (ngSubmit)="getAdd(f)" novalidate>
    <label>Title</label>
    <input class="form-control" name="title" ngModel type="text">
    <label>Content</label>
    <textarea class="form-control" name="content" ngModel rows="3"></textarea>    
    <div class="form-check margin-top-10">
        <label class="form-check-label">
          <input name="status" checked="false" ngModel type="checkbox" class="form-check-input">
          Status
        </label>
      </div>    
      <button class="btn btn-success">Save</button>      
      <button (click)="cancel()" class="btn btn-default">Cancel</button>
  </form>
</div>